autograd==1.8.0
causal-learn==0.1.4.4
causalml==0.15.5
citeproc-py==0.9.0
clarabel==0.11.1
cloudpickle==3.1.2
contourpy==1.3.3
cvxpy==1.8.1
cycler==0.12.1
Cython==3.2.4
dill==0.4.1
dowhy==0.14
duecredit==0.11.2
econml==0.16.0
fonttools==4.61.1
forestci==0.6
graphviz==0.21
highspy==1.13.1
ipywidgets==8.1.8
joblib==1.5.3
jupyterlab_widgets==3.0.16
kiwisolver==1.4.9
lightgbm==4.6.0
lingam==1.12.2
llvmlite==0.46.0
looseversion==1.3.0
lxml==6.0.2
matplotlib==3.10.8
mizani==0.14.4
momentchi2==0.1.8
mpmath==1.3.0
multiprocess==0.70.19
networkx==3.6.1
numba==0.64.0
numdifftools==0.9.42
numpy==2.4.2
osqp==1.1.1
pandas==3.0.1
pathos==0.2.9
patsy==1.0.2
pillow==12.1.1
plotnine==0.15.3
pox==0.3.7
ppft==1.7.8
progressbar2==4.5.0
psy==0.0.1
pydot==4.0.1
pydotplus==2.0.2
pygam==0.12.0
pyparsing==3.3.2
python-utils==3.9.1
rdrobust==1.3.0
scikit-learn==1.6.1
scipy==1.15.3
scs==3.2.11
seaborn==0.13.2
semopy==2.3.11
setuptools==80.10.2
shap==0.48.0
slicer==0.0.8
sparse==0.18.0
statsmodels==0.14.6
sympy==1.14.0
threadpoolctl==3.6.0
tqdm==4.67.3
wheel==0.46.3
widgetsnbextension==4.0.15
xgboost==3.2.0
